* {
    box-sizing: border-box;
}

nav {
    display: flex;
    background: #6ADAFF;
    height: 5em;
    width: 100vw;
    /* viewport */
    max-width: 100%;
    padding: 1.25em;
}

main {
    background: #38B6FF;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;

}

body {
    margin: 0;
}

.publicacoes {
    max-width: 850px;
    position: relative;
}

.coluna {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.twittes {
    border-radius: 2em;
    display: grid;
    width: 630px;
    background-color: #6ADAFF;

}

.perfilpost {
    border-radius: 100%;
    display: inline-block;
    height: 48px;
    vertical-align: middle;


}

.divpublicacao {
    color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
}

.inline {
    display: inline;
    margin-left: 1.5em;
    margin-top: 1em;
}

.nome {
    color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0%;
}

.nome_data {
    display: inline;
}

.escrito {
    margin-left: 2em;
    margin-top: -1em;
    margin-right: 1em;
}

.escrtito_ {
    color: #FFFFFF;

}

.section {
    /* background-color:#FFFFFF ;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.data {
    color: #FFFFFF;
}

.espaco {
    margin: 0.85em;
}

.img_postada {
    vertical-align: middle;
    margin-left: 4em;

}

.inlineLog {
    display: flex;
}

.perfil a {
    text-decoration: none; 
    color: #ffffff; 
    font-family: Arial;
    font-size: 16px;
}

.perfil a:hover {
    color: #ffff80; 
}