/*Login and Signup pages*/
body {
    background-color: #38B6FF;
}

#login, #signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    margin: 20px 50px;
}

#login-header, #signup-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
}

.header-title {
    font-size: 45px;
    color: #FFF;
    font-family: 'Alegreya Sans', sans-serif;
}

.header-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-criar, .btn-entrar {
    margin: 5px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.btn-criar {
    background-color: #38B6FF;
    color: #FFF;
    border: 1px solid;
}

.btn-criar:hover {
    background-color: #FFF;
    color: #38B6FF;
    cursor: pointer;
}

.btn-entrar {
    background-color: #FF941D;
    color: #FFF;
    border: 1px solid #FFF;
}

.btn-entrar:hover {
    background-color: #F3B664;
    cursor: pointer;
}

.logo-container {
    border: 10px solid white;
    border-radius: 50%;
}

/*Must be fixed*/
.logo-container img {
    width: 450px;
    height: 420px;
}
