/*Login and Signup pages*/
body {
    background-color: #38B6FF;
}

#login, #signin {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 80vh;
}

#login-header, #signin-header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.btn-criar {
    background-color: #38B6FF;
    color: #FFF;
    border: 1px solid #FFF;
}

.btn-criar:hover {
    background-color: #FFF;
    color: #38B6FF;
    cursor: pointer;
}

.btn-entrar {
    background-color: #FFF;
    border: 1px solid;
}

