*{
    box-sizing: border-box;
}
nav{
    display: flex;
    background:#6ADAFF;
    height: 5em;
    width: 100vw; /* viewport */
    max-width: 100%;
    padding: 1.25em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    
}

main {
    background:#38B6FF;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    
}

body {
    margin: 0;
}

.publicacoes {
    max-width: 850px;
    position: relative;
}
.coluna {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.twittes {
    border-radius: 2em;
    display: grid;
    width: 630px;
    background-color: #6ADAFF;

}

/* Adicionando items no canto superior direito do Header*/

.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.nome-user-logado-header {
    margin-right: 10px;
}

.nome-user-logado-button {
    background: #6ADAFF;
    border-radius: 16px;
    padding: 26px;
    cursor: pointer;
    color: #ffff;
    border: none;
    font-size: 16px;
}

.foto-user-logado-header img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    object-fit: cover;
    margin-left: -15px;
}

.logout-user-header {
    margin-left: 10px;
}

.logout-user-header-button img{
    margin-top: 2px;
}


/* Botões de editar perfil e de criar post */

.info-perfil-botoes {
    padding-right: 2rem;
    padding-left: 13rem;
    margin-top: 12rem;
}

.botao-editar-perfil {
    margin-bottom: 3px;
    margin-top: -35px;
    cursor: pointer;
    color: #ffff;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

.botao-criar-post-button {
    text-indent: 6px;
}

/* Adicionando Box com info do Perfil */  

.inline-inicio{
    margin-top: 1.5em;
    display: inline-block
}

.info-perfil-user {
    display: flex;
    margin-top: 55px;
    height: 340px;
    margin-bottom: 3rem;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.05);
}
.info-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-pic {
    width: 148px;
    margin-left: 34px;
    height: 148px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    object-fit: cover;
}

.info-perfil-texto {
    text-align: center;
    
}

.nome-user-info-perfil {
    margin-top : 10px;
    margin-left: -70px;
    margin-bottom: 7px;
    color: #23424A;
    font-family: Inter;
    font-size: 1.38rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.cargo-user-logado {
    color: #ffffff;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Inter;
}


.email-user {
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 17px;
}

.icon-cargo img{
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.icon-email img {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
    vertical-align: middle; 
}

/* Fim da box Com info do perifl */



.perfilpost{
    border-radius: 100%;
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    
}

.divpublicacao{
    color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
}

.inline {
    display: inline;
    margin-left: 1.5em;
    margin-top: 1em;
}
.nome {
    color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0%;
}
.nome_data{
    display: inline;
}

.escrito{
    margin-left: 2em;
    margin-top:-1em ;
    margin-right: 1em;
    padding-top: 10px;
}

.escrtito_{
    color: #FFFFFF;
    margin-top: 5px;
    padding-top: 5px;

}


.data{
    color: #FFFFFF;
}

.espaco {
    margin: 0.85em;
}

.img_postada {
    padding-top: 5px;
    vertical-align: middle;
    margin-left: 4em;
    
}

.inlineLog{
    display: flex;
}

/* Estilização ícones de comentário e editar */

.icon-comment {
    padding: 20px;
}

.icon-comment img {
    padding-right: 5px;
}

.icon-comment-first img {
    padding-left: 40px;
}